@model PositivePsychologyAppHtml.usersdata

@{
    ViewBag.Title = "Заголовок 1";

}

<div ng-app="MyApp" id="bodyDiv" class="container-fluid backgroundWhite">
    <nav id="mynav" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Заголовок</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Играть", "GeneralDescription", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <div id="HauptDiv" class="backgroundWhite">
        <button class="btn btn-default"><img src="~/Images/Play.png" height="32" width="32"/></button>
    </div>

